# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# Azure Synapse files
/workspace/**                                                   @stef-solirius @HarrisonBoyleThomas @Fred83200  @Imran-23 @BandlamudiNaveen @roytalari @NHAL22

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200  @Imran-23 @BandlamudiNaveen

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Imran-23 @BandlamudiNaveen @NHAL22
*.ipynb                                                         @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Imran-23 @BandlamudiNaveen @NHAL22
*.sql                                                           @roytalari @stef-solirius @HarrisonBoyleThomas @Fred83200 @Imran-23 @BandlamudiNaveen @NHAL22