# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins @stef-solirius

# most files in infrastructure relate to Terraform code
/infrastructure/**                                              @beejjacobs @m-juckes-pins @stef-solirius

# Azure Synapse files
/workspace/**                                                   @alex-ghoth @stef-solirius @HarrisonBoyleThomas

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @NHAL22 @roytalari @stef-solirius @alex-ghoth @HarrisonBoyleThomas

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                            @alex-ghoth @roytalari @stef-solirius @HarrisonBoyleThomas
*.ipynb                                                         @alex-ghoth @roytalari @stef-solirius @HarrisonBoyleThomas
*.sql                                                           @alex-ghoth @roytalari @stef-solirius @HarrisonBoyleThomas