# Spark 3.4 library list can be found here
# https://github.com/microsoft/synapse-spark-runtime/blob/main/Synapse/spark3.4/Official-Spark3.4-Rel-2024-10-18.0-rc.1.md

# Azure Servicebus
azure-servicebus==7.13.0

# Logging
azure-monitor-opentelemetry==1.6.7

# Retry
tenacity==9.0.0

# Time
iso8601==2.1.0

# Creating fake data
Faker==33.1.0