# Spark 3.4 library list can be found here
# https://github.com/microsoft/synapse-spark-runtime/blob/main/Synapse/spark3.4/Official-Spark3.4-Rel-2024-10-18.0-rc.1.md

# Azure Servicebus
azure-servicebus

# Time
croniter
iso8601

# Creating fake data
Faker