# Azure Application Insights
opencensus.ext.azure

# Azure Storage
azure-storage-file-datalake
azure-storage-file-share

# Linting
mypy

# Machine Learning
tensorflow==2.10.0

# Timezones
tzlocal
