# Spark 3.3 library list can be found here
# https://github.com/microsoft/synapse-spark-runtime/blob/main/Synapse/spark3.3/Official-Spark3.3-Rel-2024-07-11.0-rc.1.md

# Azure Servicebus
azure-servicebus

# Time
croniter
iso8601

# Creating fake data
Faker