# Azure Application Insights
opencensus.ext.azure

# Azure Storage
azure-storage-file-datalake
azure-storage-file-share

# Azure Servicebus
azure-servicebus

# Linting
mypy

# Machine Learning
protobuf==3.19.6

# Time
croniter
tzlocal

