parameters:
  agentPool: ''
  enforceInfrastructureDeployment: false
  enforceSynapseDeployment: false

##
# Check which components need to be deployed
##
stages:
- stage: PreDeploy
  displayName: 'Pre-deployment checks to work out what needs to be deployed'
  jobs:
  - job: PreDeploymentJob
    pool: ${{ parameters.agentPool }}
    steps:
    - checkout: 'self'
      fetchDepth: 0
    - template: ${{variables['System.DefaultWorkingDirectory']}}/pipelines/steps/check-which-component-is-modified.yaml
      parameters:
        enforceInfrastructureDeployment: ${{ parameters.enforceInfrastructureDeployment }}
        enforceFunctionsDeployment: false
        enforceSynapseDeployment: ${{ parameters.enforceSynapseDeployment }}
